/* COLORE SFONDO */
.back {
    background-image: linear-gradient(green,gray,gray,gray,gray, gray);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* RECIPIENTE CONTENUTO */
.recipe-content {
    background-color: rgb(13, 255, 0);
    width: 90vw;
    height: 90vh;
    display: flex;
}

/* RECIPIENTE ASIDE */
.recipe-aside {
    flex-basis: 450px;
    flex-shrink: 0;
    background-color: brown;
    display: flex;
    flex-direction: column;
    border-right: 1px solid aqua;
}

/* RECIPIENTE MAIN */
.recipe-messageUser {
    flex-grow: 1;
    background-color: blue;
    display: flex;
    flex-direction: column;
}

/* RECIPIENTE USER */
.recipe-user {
    background-color: black;
}

/* RECIPENTE CHAT */
.recipe-chat {
    background-color: blueviolet;
    overflow: auto;
    height: calc(90vh - 230px);
}

/* RECIPIENTE CHATUSER */
.recipe-chatUser {
    height: 80px;
    background-color: bisque;
}

/* RECIPIENTE MESSAGGIO */
.recipe-message {
    background-color: rgb(221, 130, 20);
    overflow: auto;
    height: calc(90vh - 160px);
}

/* RECIPIENTE SCRIVI MESSAGGIO */
.recipe-writeMess{
    background-color: darkmagenta;
    height: 80px;
}

/* UTENTE */
.user {
    height: 80px;
    background-color: #EAEAEA;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 5px;
}

/* RECIPEINTE MY AVATAR */
.recipe-myAvatar {
    display: flex;
    align-items: center;
    gap: 2px;
    font-size: 20px;
}

/* IMMAGINE UTENTE */
.my-image {
    width: 50px;
    border-radius: 50%;
}

/* ICONE */
.icon-user {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    color: #B1B1B1;
}

/* NOTIFICHE */
.notifications {
    height: 90px;
    background-color: #8EDAFC;
    display: flex;
    align-items: center;
    padding: 0px 20px;
    gap: 10px;
}

/* ICONA */
.notifications i {
    font-size: 45px;
    background-color: #ffffff;
    color: #8EDAFC;
    border-radius: 50%;
}

/* RECIPIENTE INFO NOTOFICHE */
.recipe-notification {
    display: flex;
    flex-direction: column;
}

/* LINK */
.recipe-notification a {
    color: #696868;
    font-weight: 600;
}

/* RECIPIENTE CERCA */
.research {
    height: 60px;
    background-color: #FAFAFA;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* RECIPIENTE INPUT */
.recipe-input {
   width: 95%;
   display: flex;
   justify-content: center;
}

/* CHAT */
.chat {
    background-color: white;
    border-bottom: 1px solid gray;
    height: 90px;
}

