<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzapp</title>
    <!-- FONT-AWESOME -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" 
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" 
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- BOOTSTRAP -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <!-- CSS -->
    <link rel="stylesheet" href="css/style.css">
    <!-- VUE -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- DATI JS -->
    <script src="js/date.js"></script>
    <!-- JAVASCRIPT VUE -->
    <script defer src="js/script.js"></script>
</head>
<body>
<div id="root">
    <!-- SFONDO -->
    <div class="back">
        <!-- CONTENUTO -->
        <div class="recipe-content">
            <!-- ASIDE -->
            <div class="recipe-aside">
                <!-- UTENTE -->
                <div class="recipe-user">
                    <!-- RECIPIENTE UTENTE -->
                    <div class="user">
                        <div class="recipe-myAvatar">
                            <img class="my-image" :src="`img/assets/img/avatar${user.avatar}.jpg`" :alt="user.name">
                            <div>{{user.name}}</div>
                        </div>
                        <div class="icon-user">
                            <i class="fa-solid fa-spinner"></i>
                            <i class="fa-solid fa-message"></i>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>
                    </div>
                    <!-- RECIPENTE NOTICHE-->
                    <div class="notifications">
                        <i class="fa-solid fa-bell-slash "></i>
                        <div class="recipe-notification">
                            <div>Ricevi notiche di nuovi messaggi</div>
                            <a href="#">Attiva notifiche desktop</a>
                        </div>
                    </div>
                    <!-- RECIPENTE CERCA -->
                    <div class="research">
                        <div class="recipe-input input-group">
                            <span class="input-group-text"><i class="fa-solid fa-magnifying-glass"></i></span>
                            <input type="text" class="form-control" placeholder="Cerca o inizia una nuova chat">
                        </div>
                    </div>
                </div>
                <!-- CHAT -->
                <div class="recipe-chat">
                    <div v-for="element in contacts" :key="element.id" class="chat" @click="currentUser(element.id)">
                        <img :src="`img/assets/img/avatar${element.avatar}.jpg`" :alt="element.name">
                        <div class="recipe-contacts">
                            <h6>{{element.name}}</h6>
                        </div>
                    </div>
                </div>
            </div>
            <!-- MAIN -->
            <main class="recipe-messageUser">
                <!-- UTENTE SELEZIONATO -->
                <div class="recipe-chatUser">
                    <div v-for="user in active" :key="user.id" class="recipe-infoUser">
                        <img :src="`img/assets/img/avatar${user.avatar}.jpg`" :alt="user.name">
                        <div class="user-selected">
                            <div>{{user.name}}</div>
                            <div class="text-secondary" >Ultimo acesso: </div>
                        </div>
                    </div>
                    <div class="recipe-iconChat">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <i class="fa-solid fa-paperclip"></i>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </div>
                <!-- RECIPIENTE MESSAGGI -->
                <div class="recipe-image-message clearfix">
                    <div v-for="info in active" :key="info.id" class="recipe-message">
                        <div v-for="message in info.messages" :key="message.id" :class="{'message-sent': message.status === 'sent'}">
                            <span v-if="message.status === 'sent'">{{message.text}}</span>
                            <time v-if="message.status === 'sent'">{{message.date}}</time>
                        </div>
                        <div v-for="message in info.messages" :key="message.id" :class="{'message-received': message.status === 'received'}">
                            <span v-if="message.status === 'received'">{{message.text}}</span>
                            <time v-if="message.status === 'received'">{{message.date}}</time>
                        </div>
                    </div>
                </div>
                <!-- SCRIVI MESSAGGIO -->
                <div class="recipe-writeMess">
                    <i class="fa-regular fa-face-smile"></i>
                    <div class="w-100">
                        <input type="text" class="form-control">
                    </div>
                    <i class="fa-solid fa-microphone"></i>
                </div>
            </main>
        </div>
    </div>
</div>
</body>
</html>